.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    font-family: 'Source Sans Pro', sans-serif;

}

h1 {
    padding: 2rem 0;
}

.errorMessage {
    font-family: inherit;
    font-size: 1.4rem;
    color: red;
}
.errorHidden {
    visibility: hidden;
}

label {
    padding: 1rem 0;
}

.input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    width: 70%;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border .4s;
}

.inputError {
    border: 1px solid red;
}

.input:hover,
.input:focus {
    outline: none;
    border: 1px solid var(--header-background);
}

.description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    width: 90%;
    padding: 1.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border .4s;
    margin-bottom: 1rem;
}

.description:hover,
.description:focus {
    outline: none;
    border: 1px solid var(--header-background);
}

.select {
    min-width: 25rem;
    width: 60%;
    padding: .5rem 1.5rem .5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 2rem;
    transition: border .4s;
    margin: 1rem 0;
}

.select:hover,
.select:focus {
    outline: none;
    border: 1px solid var(--header-background);
}

.fileSelectWrapper {
    position: relative;
    width: 60%;
    margin: 1rem 0;
    text-align: center;
}
.fileSelect {
    display: inline-block;
    width: 100%;
    background-color: var(--header-background);
    color: white;
    padding: .5rem 1rem;
    border: 1px solid var(--header-background);
    border-radius: 5px;
}
.fileSelect:active {
    background-color: var(--lighter-blue);
}
.fileSelectActive {
    display: inline-block;
    width: 100%;
    background-color: var(--lighter-blue);
    color: var(--lighter-text);
    padding: .5rem 1rem;
    border: 1px solid var(--header-background);
    transition: background-color .2s;
    border-radius: 5px;
}

.uploadBtn {
    font-family: inherit;
    font-size: 1.6rem;
    margin: 1rem 0;
    display: inline-block;
    width: 60%;
    background-color: var(--header-background);
    color: white;
    padding: .5rem 1rem;
    border: 1px solid var(--header-background);
    border-radius: 5px;
}

.uploadBtn:active {
    background-color: var(--lighter-blue);
}

.submitBtn {
    font-family: inherit;
    font-size: 1.6rem;
    margin: 1rem 0;
    display: inline-block;
    width: 60%;
    background-color: var(--header-background);
    color: white;
    padding: .5rem 1rem;
    border: 1px solid var(--header-background);
    border-radius: 5px;
}

.submitBtn:active {
    background-color: var(--lighter-blue);
}