:root {
  --background: #ff0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Saira", sans-serif;
}
/**************** static elements *************/
html {
  font-size: 62.5%;
  /* solutie pentru setarea background-ului centrat, scalabil */

}

body {
  color: white;
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 6vh 80vh 10vh;
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: fit-content;
}

body::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 5, 61, 0.7)) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

header {
  display: flex;
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  border-radius: 20px;
  margin-top: -3rem;
  height: 100%;
}

footer {
    display: flex;
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 3rem;
    cursor: default;
    
}

#logo {
    margin-top: 3rem;
    cursor: pointer;
}

#logo img {
    width: 11.2rem;
    height: 4rem;
}


.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    
}

.menu-list li {
    cursor: pointer;
    height: 100%;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 10rem;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.standings-btn {
    position: relative;
}
.standings-btn:hover .standings-dropdown-wrapper{
    transform: translateY(1rem);
    opacity: 1;
}

.standings-dropdown-wrapper {
    position: absolute;
    top: 3rem;
    transition: all .3s;
    opacity: 0;
}


/* -------------------------------------- STANDINGS ------------------------------------------- */
.standings-title{
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.standings-info {
    width: 55%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0 1rem;
}

.standings-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 5px;
    align-items: center;
}

.driver-item {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
    margin: .5rem 0;
    transition: all .5s;
    cursor: default;
    width: 80%;
    border-bottom: 1px solid red;
}

.driver-item div {
    display: flex;
    transition: all .3s;

}

.driver-item__name {
    width: 40%;
}
.driver-item__name:hover {
    transform: translateX(1.2rem) scale(1.1);
}

.driver-item__points {
    justify-content: center;
    width: 20%;
}

.driver-item__pos {
    justify-content: center;
    width: 20%;
}
/* --------------------------------------------------------------------------------------------------------- */

/* -------------------------------------- CALENDAR ------------------------------------------- */

.race-item {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.6rem;
    margin: .5rem 0;
    transition: all .5s;
    cursor: default;
    width: 80%;
    border-bottom: 1px solid red;
}

.calendar-list {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    border: 2px solid red;
    padding: 3rem 0;
    border-radius: 5px;
    align-items: center;
}

.calendar-display {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: center;
    align-items: center;
}