.contactWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;

}

.contactWrapperDark {
    color: var(--cultured);
}

.contactWrapperDark h2 {
    color: var(--antique-white);
}

.contactWrapperLight{
    color: var(--dark-text-color);
}

.contactTitle {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-weight: 900;
}

.contactDescription {
    width: 50rem;
    margin-bottom: 4rem;
    text-align: center;
}

.emailBtn, .emailBtn:visited {
    font-family: var(--mono-font);
    font-weight: 600;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    width: 20rem;
    height: 4rem;
    transition: .2s background-color;
}


.emailBtnLight {
    color: var(--dark-text-color);
    border: 1px solid var(--dark-text-color);
}
.emailBtnLight:hover {
    background-color: var(--antique-white);
}
.emailBtnDark {
    color: var(--cultured);
    border: 1px solid var(--cultured);
}
.emailBtnDark:hover {
    background-color: var(--space-cadet-lightest);
}

@media (min-width: 1001px) and (max-width: 1199px) and (min-height: 400px) and (max-height: 719px) {
    .contactTitle {
        font-size: 3rem;
    }
}

@media (min-width: 400px) and (max-width: 580px) and (max-height: 2000px) {

    .contactDescription {
        max-width: 30rem;
    }
    .contactTitle {
        font-size: 3rem;
    }
    .contactWrapper {
        margin-bottom: 14rem;
    }
}

@media (max-width: 399px) and (max-height: 2000px) {

    .contactDescription {
        max-width: 25rem;
    }
    .contactTitle {
        font-size: 3rem;
    }
    .contactWrapper {
        margin-bottom: 10rem;
    }

}