.footer {
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* font-family: var(--mono-font); */
}

.footerLight {
    color: var(--dark-text-color);
}

.footerDark {
    color: var(--cultured);
}

.footer p {
    font-size: 1.5rem;
    font-weight: 700;
}

.contactMeans {
    display: flex;

}

.emailWrapper {
    display: flex;
}

.location {
    position: relative;
    display: flex;
    align-items: center;

}