.footer {
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLight {
    color: var(--dark-text-color);
}

.footerDark {
    color: var(--cultured);
}

.copyright {
    margin-right: 1rem;
}

.copyrightLight {
    fill: var(--dark-text-color);
}
.copyrightDark {
    fill: var(--cultured);
}

.footer p {
    font-size: 1.5rem;
    font-weight: 700;
}