.header {
    height: 5rem;
    width: 100%;
    padding: 0 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.24)
;


}

.logoHolder {
    display: flex;
    height: 80%;
    
}

.mainNav {
    font-family: var(--mono-font);
    width: 40rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.menuItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 0;
}