.hero {
    position: relative;
    display: flex;
    height: 95vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 3rem;
}


.profilePicContainer {
width: 40%;
display: flex;
justify-content: center;
}

.imageWrapper {
overflow: hidden;
height: 25rem;
width: 25rem;
border-radius: 50%;
}

.profilePic {
height: 35rem;
object-fit: cover;
}

.heroInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 40%;
}

.heroName {
    font-size: 2.5rem;
    font-weight: 700;
}

.heroTitle {
    font-weight: 900;
    font-size: 4.5rem;
    color: var(--color2);
}

.scroll {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 5%;


}

.scroll img {
    margin-bottom: 3rem;
    width: 3rem;


}
