.hero {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 100rem;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    /* letter-spacing: .3px; */
}

.heroTextLight {
    color: var(--dark-text-color);
}

.heroTextDark {
    color: var(--cultured);
}


.profilePicContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    min-width: 40rem;
}

.imageWrapper {
    position: relative;
    height: 40rem;
    width: 40rem;
}

.imageWrapper img {
    position: relative;
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 4;
}

.ring1 {
    content: '';
    position: absolute;

    height: 40rem;
    width: 40rem;
    top: 0;
    left: 1.5rem;
    border-radius: 50%;
    z-index: 3;
}

.ring1Light {
    background: var(--lavender-blue);
}

.ring1Dark {
    background: #0c0c1a;
}

.ring2 {
    content: '';
    position: absolute;
    background: var(--lavender-blue);
    height: 40rem;
    width: 40rem;
    top: 0;
    left: 3rem;
    border-radius: 50%;
    z-index: 2;
}

.ring2Light {
    background: #DADEFA;
}

.ring2Dark {
    background: #0f0f24;
}

.ring3 {
    content: '';
    position: absolute;
    background: #dadefa;
    height: 40rem;
    width: 40rem;
    top: 0;
    left: 4.5rem;
    border-radius: 50%;
    z-index: 1;
}
.ring3Light {
    background: #e9edfd;
}

.ring3Dark {
    background: #10142a;
}


.heroInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 40%;
}

.heroHello {
    font-family: var(--mono-font);
    font-size: 1.6rem;
    font-weight: 600;
}

.heroName {
    font-size: 4rem;
    font-weight: 900;
}

.heroNameLight {
    color: var(--oxford-blue);
}

.heroNameDark {
    color: var(--antique-white);
}

.heroTitle {
    font-weight: 900;
    font-size: 7rem;
    color: var(--neon-blue);
}

.heroDescription {
    font-weight: 500;
}

.scroll {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 5%;
    margin-bottom: 5rem;
}

.scrollIconDark {
    margin-bottom: 3rem;
    fill: var(--antique-white);
}

.scrollIconLight {
    margin-bottom: 3rem;
    fill: var(--neon-blue);

}

@media (min-width: 1200px) and (max-height: 900px) {
    .heroInfo {
        gap: .5rem;
    }

    .heroTitle {
        font-size: 6rem;
    }

    .scroll {
        margin-bottom: 2rem;
    }
    .scrollIconDark {
    margin-bottom: 0;
    }

    .scrollIconLight {
    margin-bottom: 0;
    }
}

@media (min-width: 580px) and (max-width: 1000px) {
    .hero {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 85rem;
        align-items: center;
        min-height: 100rem;
    }
    .profilePicContainer {
        width: 20rem;
        min-width: none;
        margin-top: 10rem;
    }

    .imageWrapper {
        width: 20rem;
        height: 20rem;
    }

    .imageWrapper img {
        width: 20rem;
        height: 20rem;
    }

    .ring1 {
        width: 20rem;
        height: 20rem;
        left: 1rem;
    }
    .ring2 {
        width: 20rem;
        height: 20rem;
        left: 2rem;

    }
    .ring3 {
        width: 20rem;
        height: 20rem;
        left: 3rem;
    }


    .profilePicContainer {
        width: 80%;
    }

    .heroInfo {
        width: 80%;
        height: 40%;
        align-items: center;
    }
    .heroInfo p {
        text-align: center;
    }

    .heroTitle {
        font-size: 6rem;

    }

    .heroTitle p:first-child {
        display: block;
        width: 100%;
        text-align: center;
    }
    .heroTitle p:nth-child(2) {
        display: inline;
        width: fit-content;
        margin-right: 2rem;
    }
    .heroTitle p:nth-child(3) {
        display: inline;
        width: fit-content;
    }
    .scroll {
        position: absolute;
        bottom: 2rem;
        height: 5rem;
        margin-bottom: 10rem;
    }
}

@media (min-width: 400px) and (max-width: 580px) and (max-height: 1000px) {
    .hero {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        min-height: 80rem;
    }

    .profilePicContainer {
        width: 20rem;
        min-width: none;
        margin-top: 10rem;
    }

    .imageWrapper {
        width: 20rem;
        height: 20rem;
    }

    .imageWrapper img {
        width: 20rem;
        height: 20rem;
    }

    .ring1 {
        width: 20rem;
        height: 20rem;
        left: 1rem;
    }
    .ring2 {
        width: 20rem;
        height: 20rem;
        left: 2rem;

    }
    .ring3 {
        width: 20rem;
        height: 20rem;
        left: 3rem;
    }

    .heroInfo {
        width: 80%;
        height: fit-content;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .heroInfo p {
        text-align: center;
    }

    .heroName {
        font-size: 3rem;
    }

    .heroTitle {
        font-size: 4rem;

    }

    .heroTitle p:first-child {
        display: block;
        width: 100%;
        text-align: center;
    }
    .heroTitle p:nth-child(2) {
        display: inline;
        width: fit-content;
        margin-right: 1.5rem;
    }
    .heroTitle p:nth-child(3) {
        display: inline;
        width: fit-content;
    }
    .scroll {
        height: 3rem;
        width: 3rem;
        position: absolute;
        bottom: 0rem;
        margin-bottom: 6rem;
    }
    .scrollIcon {
        margin-bottom: 0;
    }

}

@media (max-width: 399px) and (max-height: 900px) {
    .hero {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        min-height: 80rem;
    }

    .profilePicContainer {
        width: 20rem;
        margin-top: 5rem;
        min-width: 10rem;
        margin-top: 10rem;
    }

    .imageWrapper {
        width: 20rem;
        height: 20rem;
    }

    .imageWrapper img {
        width: 20rem;
        height: 20rem;
    }

    .ring1 {
        width: 20rem;
        height: 20rem;
        left: 1rem;
    }
    .ring2 {
        width: 20rem;
        height: 20rem;
        left: 2rem;

    }
    .ring3 {
        width: 20rem;
        height: 20rem;
        left: 3rem;
    }

    .heroInfo {
        width: 80%;
        height: fit-content;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .heroInfo p {
        text-align: center;
    }

    .heroName {
        font-size: 3rem;
    }

    .heroTitle {
        font-size: 4rem;

    }

    .heroTitle p:first-child {
        display: block;
        width: 100%;
        text-align: center;
    }
    .heroTitle p:nth-child(2) {
        display: inline;
        width: fit-content;
        margin-right: 1.5rem;
    }
    .heroTitle p:nth-child(3) {
        display: inline;
        width: fit-content;
    }
    .scroll {
        height: 3rem;
        width: 3rem;
        position: absolute;
        bottom: 0rem;
        margin-bottom: 4rem;
    }
    .scrollIcon {
        margin-bottom: 0;
    }

}