.project {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 30rem;
    border-radius: 5px;
    box-shadow: 0px 8px 11px -7px rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in;
    cursor: pointer;

}

.projectLight {
    background-color: var(--lavender-blue);
    color: var(--dark-text-color);
}

.projectDark {
    background-color: var(--space-cadet-lightest);
    color: var(--cultured);
}

@media (hover:hover) {
    .project:hover {
        transform: translateY(-5px);
        box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.3);
    }

}

.github {
    transition: .2s fill;
}

.githubDark {
    fill: var(--cultured);
}
.githubLight {
    fill: var(--dark-text-color);
}

.githubDark:hover{
    fill: var(--neon-blue);
}
.githubLight:hover{
    fill: var(--antique-white);
}

.link {
    transition: .2s fill;
}
.linkDark {
    fill: var(--cultured);
}
.linkLight {
    fill: var(--dark-text-color);
}

.linkLight:hover {
    fill: var(--antique-white);
}
.linkDark:hover{
    fill: var(--neon-blue);
}

.projectTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.iconSet {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 30%;
}


.footer {
    display: flex;
    gap: 1rem;
    font-family: var(--mono-font);
}

.techDark, .techLight {
    transition: color .2s;
}

.techDark:hover {
    color: var(--neon-blue);
}

.techLight:hover {
    color: var(--antique-white);
}

