.projectsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 7rem 3% 3% 3%;

}

.projectsContainer h2 {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    width: fit-content;
    font-weight: 900;
}

.easy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 7rem;
}

.easy > h3 {
    position: relative;
    font-family: var(--mono-font);
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: fit-content;
}

.preTitleLine {
    position: absolute;
    background: linear-gradient(to left, var(--lavender-blue) 0%, transparent);
    top: 50%;
    left: -25rem;
    height: .1rem;
    width: 20rem;
    border-radius: 10px;
}

.postTitleLine {
    position: absolute;
    background: linear-gradient(to right, var(--lavender-blue) 0%, transparent);
    top: 50%;
    right: -25rem;
    height: .1rem;
    width: 20rem;
    border-radius: 10px;
}

.projectsBox {
    position: relative;
    display: grid;
    height: 85%;
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.intermediate {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 7rem;
}

.intermediate > h3 {
    position: relative;
    font-family: var(--mono-font);
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

@media (min-height: 1000px) and (max-height: 1200px) and (min-width: 1100px) {
    .projectsContainer {
        padding-top: 0;
    }
}

@media (min-width: 580px) and (max-width: 769px) {
    .projectsBox {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
    .projectsContainer {
        padding-top: 0;
    }

}

@media (min-width: 400px) and (max-width: 580px) and (max-height: 1000px) {

    .projectsBox {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
    
    .preTitleLine {
        display: none;
    }
    .postTitleLine {
        display: none;
    }

    .easy {
        margin-bottom: 4rem;
    }
}

@media (max-width: 399px) and (max-height: 900px) {

    .projectsBox {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
    
    .preTitleLine {
        display: none;
    }
    .postTitleLine {
        display: none;
    }

    .easy {
        margin-bottom: 4rem;
    }

}

