.projectsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 3%;

}

.easy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 4rem;
}

.easy h2 {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    width: fit-content;
}

.easy h2::after {
    content: '';
    position: absolute;
    background: var(--color2);
    top: 50%;
    right: -25rem;
    height: .1rem;
    width: 20rem;
    border-radius: 10px;
}
.easy h2::before {
    content: '';
    position: absolute;
    background: var(--color2);
    top: 50%;
    left: -25rem;
    height: .1rem;
    width: 20rem;
    border-radius: 10px;
}

.projectsBox {
    position: relative;
    display: grid;
    height: 85%;
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.intermediate {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 4rem;
}

.intermediate h2 {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    width: fit-content;
}

.intermediate h2::after {
    content: '';
    position: absolute;
    background: var(--color2);
    top: 50%;
    right: -20rem;
    height: .1rem;
    width: 15rem;
    border-radius: 10px;
}
.intermediate h2::before {
    content: '';
    position: absolute;
    background: var(--color2);
    top: 50%;
    left: -20rem;
    height: .1rem;
    width: 15rem;
    border-radius: 10px;
}