@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --dark-blue: #0b0c1e;
  --oxford-blue: #141834;
  --space-cadet-dark: #181e3f;
  --space-cadet-light: #1c234a;
  --neon-blue: #5e79fd ;
  --lavender-blue: #c2c9fe ;
  --cultured: #f1f2f6;
  --linen: #F8EFE6;
  --antique-white: #ffecd6;
  --main-font: 'Lato', sans-serif;
  --mono-font: 'Inconsolata', monospace;
  --dark-text-color: #110B11;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 10px;
}


body{
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--dark-text-color);
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  /* max-width: 100%; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



