.quizAnswer {
    width: 80%;
    align-self: center;
    padding-left: 3rem;
    background-color: blue;
    height: 35%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}



.wrongAnswer {
    background-color: red;
}

.correctAnswer { 
    background-color: green;
}