:root {
    --background-color: #0A1931;
    --color2: #185ADB;
    --color3: #FFC947;
    --color4: #FEDDBE;
    --main-font: 'Sora', sans-serif;
    --dark-text-color: #020122;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *{
    margin: 0;
  }
  
  html, body {
    height: 100%;
    font-size: 16px;
  }
  
  body{
    font-family: var(--main-font);
    color: var(--dark-text-color);
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }



body {
    background-color: var(--background-color);
    color: white;
}

main {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    height: 5vh;
}

.intro {
    position: relative;
    display: flex;
    height: 95vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.intro_image-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

.imageWrapper {
    overflow: hidden;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}
#profilePhoto {
    height: 35rem;
    object-fit: cover;
}

.intro_info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 40%;
}

.intro_name  {
    font-size: 2.5rem;
}

.intro_info_title {
    font-weight: bold;
    font-size: 4.5rem;
}

.intro_desc {

}




#webDevPhoto {
    height: 30rem;
}


.proiecte {
    position: relative;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    justify-items: center;
    
}

@media (max-width: 850px) {
    .proiecte {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 570px) {
    .proiecte {
        grid-template-columns: auto;
    }
}

.card {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:
    0px 8px 12px -3px rgba(0, 0, 0, 0.4);
    transition: all .3s;
;

  
  

}

.image-holder {
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    height: 80%;
    transition: all .3s;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 13px 12px -3px rgba(0, 0, 0, 0.4);

}

.card:hover .image-holder {
    height: 30%;
}


.image-holder img {
    object-fit: cover;
}

.despre {
    
}
